html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
}

canvas {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    position: fixed;
}

#menu {
    width: 30%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.5);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -30%;
    display: table;
    visibility: hidden;
}

#content {
    display: table-cell;
    vertical-align: middle;
}

select {
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 22px;
    text-align-last:center;
    background-color: white;
}

.hint {
    width: 100%;
    display: inline-block;
    font: normal 18px normal Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 255, 255, 1), 0 0 20px #ff00de, 0 0 50px #ff00de, 0 0 55px #ff00de, 0 0 65px #ff00de;
}
